name: Go Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - '**.go'
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.22

    - name: Run tests
      run: go test ./...
